@charset "UTF-8";
/*헤더 메뉴*/
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px #ccc;
          box-shadow: 1px 1px 5px #ccc;
}

header nav .logo {
  margin-left: 30px;
}

header nav .logo h1 img {
  width: 70px;
  height: 40px;
  margin-top: 10px;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}

header nav .nav-links li a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
}

header nav .burger {
  display: none;
}

header nav .burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #ccc;
}

/*컨텐츠 시작*/
#fullpage {
  width: 100%;
}

#fullpage #home .well {
  margin: 0 0 0 30px;
  padding-bottom: 150px;
}

#fullpage #home .well p {
  font-size: 8.3vw;
  font-weight: 700;
}

#fullpage #home .well p:nth-child(2) {
  margin-left: 20%;
}

#fullpage #home .well span {
  display: block;
  width: 68vw;
  height: 4vh;
  margin: -50px 0 0 250px;
  background-color: #ffd736;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#fullpage #about h1 {
  font-size: 8vw;
}

#fullpage #about .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}

#fullpage #about .profiles .profile-img li img {
  width: 400px;
  height: 400px;
}

#fullpage #about .profiles .profile-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
}

#fullpage #about .profiles .profile-text li {
  margin: 30px;
  font-size: 2vw;
}

#fullpage #about .profiles .profile-text li .line {
  display: block;
  width: 1px;
  height: 350px;
  background-color: #000;
}

#fullpage #about .profiles .profile-text li .tit {
  display: block;
  font-weight: 500;
}

#fullpage #skills {
  width: 100%;
  margin: 30px auto;
}

#fullpage #skills h1 {
  font-size: 8vw;
  margin-bottom: 50px;
}

#fullpage #skills .skills-container {
  width: 100%;
}

#fullpage #skills .skills-container .design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

#fullpage #skills .skills-container .design .skills-text {
  width: 100%;
  margin: 20px 20px 0 0;
  font-weight: 600;
  font-size: 1.5vw;
}

#fullpage #skills .skills-container .design .skills-img img {
  width: 60%;
}

#fullpage #skills .skills-container .html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 25px auto;
}

#fullpage #skills .skills-container .html .skills-text {
  width: 100%;
  margin: 20px 20px 0 0;
  font-weight: 600;
  font-size: 1.5vw;
}

#fullpage #skills .skills-container .html .skills-img img {
  width: 60%;
}

#fullpage #skills .skills-container .javascript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

#fullpage #skills .skills-container .javascript .skills-text {
  width: 100%;
  margin: 20px 20px 0 0;
  font-weight: 600;
  font-size: 1.5vw;
}

#fullpage #skills .skills-container .javascript .skills-img img {
  width: 60%;
}

#fullpage #portfolio1 {
  margin-top: 40px;
}

#fullpage #portfolio1 h1 {
  font-size: 8vw;
}

#fullpage #portfolio1 .portfolio1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#fullpage #portfolio1 .portfolio1-container .myportfolio {
  margin: 0 auto;
}

#fullpage #portfolio1 .portfolio1-container .myportfolio li {
  font-size: 1vw;
}

#fullpage #portfolio1 .portfolio1-container .myportfolio li:nth-child(5) {
  margin-bottom: 20px;
}

#fullpage #portfolio1 .portfolio1-container .myportfolio .number {
  color: #e9e8e8;
  font-size: 12vw;
  font-weight: 900;
}

#fullpage #portfolio1 .portfolio1-container .myportfolio .website-type {
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
}

#fullpage #portfolio1 .portfolio1-container .myportfolio .work {
  margin-bottom: 20px;
  font-size: 2vw;
}

#fullpage #portfolio1 .portfolio1-container .myportfolio .btn a {
  display: block;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50px;
}

#fullpage #portfolio1 .portfolio1-container .myportfolio .btn a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  background-color: #000;
}

#fullpage #portfolio1 .portfolio1-container .port_1_img li {
  margin-top: 70px;
}

#fullpage #portfolio1 .portfolio1-container .port_1_img li img {
  width: 70%;
}

#fullpage #portfolio2 .portfolio2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#fullpage #portfolio2 .portfolio2-container .port_2_img {
  margin: 0 auto;
}

#fullpage #portfolio2 .portfolio2-container .port_2_img li {
  margin-top: 50px;
}

#fullpage #portfolio2 .portfolio2-container .port_2_img li img {
  width: 70%;
}

#fullpage #portfolio2 .portfolio2-container .hollys {
  margin: 0 250px 0 0;
}

#fullpage #portfolio2 .portfolio2-container .hollys li {
  font-size: 1vw;
}

#fullpage #portfolio2 .portfolio2-container .hollys li:nth-child(5) {
  margin-bottom: 20px;
}

#fullpage #portfolio2 .portfolio2-container .hollys .number {
  color: #e9e8e8;
  font-size: 12vw;
  font-weight: 900;
}

#fullpage #portfolio2 .portfolio2-container .hollys .website-type {
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
}

#fullpage #portfolio2 .portfolio2-container .hollys .work {
  margin-bottom: 20px;
  font-size: 2vw;
}

#fullpage #portfolio2 .portfolio2-container .hollys .btn a {
  display: block;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50px;
}

#fullpage #portfolio2 .portfolio2-container .hollys .btn a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  background-color: #000;
}

#fullpage #portfolio3 .portfolio3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#fullpage #portfolio3 .portfolio3-container .jomalone {
  margin: 0 auto;
}

#fullpage #portfolio3 .portfolio3-container .jomalone li {
  font-size: 1vw;
}

#fullpage #portfolio3 .portfolio3-container .jomalone li:nth-child(5) {
  margin-bottom: 20px;
}

#fullpage #portfolio3 .portfolio3-container .jomalone .number {
  color: #e9e8e8;
  font-size: 12vw;
  font-weight: 900;
}

#fullpage #portfolio3 .portfolio3-container .jomalone .website-type {
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
}

#fullpage #portfolio3 .portfolio3-container .jomalone .work {
  margin-bottom: 20px;
  font-size: 2vw;
}

#fullpage #portfolio3 .portfolio3-container .jomalone .btn a {
  display: block;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50px;
}

#fullpage #portfolio3 .portfolio3-container .jomalone .btn a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  background-color: #000;
}

#fullpage #portfolio3 .portfolio3-container .port_3_img li {
  margin-top: 100px;
}

#fullpage #portfolio3 .portfolio3-container .port_3_img li > img {
  width: 70%;
}

#fullpage #contact {
  width: 100%;
}

#fullpage #contact footer {
  background-color: #000;
}

#fullpage #contact footer h1 {
  margin-top: 100px;
  color: #fff;
  font-size: 50px;
}

#fullpage #contact footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#fullpage #contact footer .info > ul li {
  color: #fff;
  font-size: 30px;
}

#fullpage #contact footer .info .kakaotalk li {
  font-size: 16px;
  margin-right: 30px;
}

#fullpage #contact footer .info .kakaotalk li img {
  width: 100px;
  height: 100px;
}

/*반응형 css*/
@media screen and (max-width: 1024px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
  }
  header nav > .logo {
    letter-spacing: 5px;
    font-size: 20px;
  }
  header nav > .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
  }
  header nav > .nav-links > li > a {
    font-weight: 600;
    letter-spacing: 3px;
  }
  header nav .burger {
    display: none;
    cursor: pointer;
  }
  header nav .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #ccc;
  }
  #fullpage {
    width: 100%;
  }
  #fullpage #home {
    width: 100%;
  }
  #fullpage #home .well {
    margin: 0 0 0 30px;
    padding-bottom: 150px;
  }
  #fullpage #home .well p {
    font-size: 8.3vw;
    font-weight: 700;
  }
  #fullpage #home .well p:nth-child(2) {
    margin-left: 20%;
  }
  #fullpage #home .well span {
    display: block;
    width: 68vw;
    height: 4vh;
    margin: -30px 0 0 20%;
    background-color: #ffd736;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #fullpage #about {
    width: 100%;
  }
  #fullpage #about h1 {
    font-size: 8vw;
  }
  #fullpage #about .profiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 100px;
  }
  #fullpage #about .profiles .profile-img li img {
    width: 250px;
    height: 250px;
  }
  #fullpage #about .profiles .profile-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    width: 80%;
  }
  #fullpage #about .profiles .profile-text li {
    margin: 30px;
  }
  #fullpage #about .profiles .profile-text li .line {
    display: block;
    width: 1px;
    height: 350px;
    background-color: #000;
  }
  #fullpage #about .profiles .profile-text li .tit {
    display: block;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
  }
  header nav > .logo {
    letter-spacing: 5px;
    font-size: 20px;
  }
  header nav > .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    height: 92vh;
    top: 100%;
    width: 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  header nav > .nav-links > li > a {
    color: #fff;
    font-size: 30px;
  }
  header nav .burger {
    display: block;
    cursor: pointer;
  }
  header nav .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #ccc;
  }
  header nav .nav-links.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  #fullpage #home .well {
    margin: 100px 0;
  }
  #fullpage #home .well p {
    font-size: 80px;
  }
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  body header nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    height: 92vh;
    top: 100%;
    width: 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  body header nav .nav-links > li > a {
    color: #fff;
    font-size: 30px;
  }
  body header nav .burger {
    display: block;
  }
  body header nav .nav-links.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  body #fullpage #home .well {
    margin: 100px 0 0 30px;
    padding-bottom: 150px;
  }
  body #fullpage #home .well p {
    font-size: 12vw;
    font-weight: 700;
  }
  body #fullpage #home .well p:nth-child(2) {
    margin-left: 0;
  }
  body #fullpage #home .well span {
    display: none;
    width: 68vw;
    height: 4vh;
    margin: -50px 0 0 120px;
    background-color: #ffd736;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  body #fullpage #about {
    width: 100%;
  }
  body #fullpage #about h1 {
    font-size: 8vw;
  }
  body #fullpage #about .profiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 100px;
  }
  body #fullpage #about .profiles .profile-img {
    margin: 0 auto;
  }
  body #fullpage #about .profiles .profile-img li img {
    width: 400px;
    height: 400px;
  }
  body #fullpage #about .profiles .profile-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  body #fullpage #about .profiles .profile-text li {
    margin: 30px;
    font-size: 4.5vw;
  }
  body #fullpage #about .profiles .profile-text li .line {
    display: block;
    width: 376px;
    height: 1px;
    background-color: #000;
  }
  body #fullpage #about .profiles .profile-text li .tit {
    display: block;
    font-weight: 500;
  }
  body #fullpage #skills {
    width: 100%;
    margin: 30px auto;
  }
  body #fullpage #skills h1 {
    font-size: 8vw;
    margin-bottom: 50px;
  }
  body #fullpage #skills .skills-container {
    width: 70%;
    margin: 0 18%;
  }
  body #fullpage #skills .skills-container .design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  body #fullpage #skills .skills-container .design .skills-text {
    width: 100%;
    margin: 0;
    font-size: 3.7vw;
    line-height: 1.8;
    text-align: center;
  }
  body #fullpage #skills .skills-container .design .skills-img {
    margin: 0 auto;
  }
  body #fullpage #skills .skills-container .design .skills-img img {
    width: 150px;
    height: 150px;
  }
  body #fullpage #skills .skills-container .html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  body #fullpage #skills .skills-container .html .skills-text {
    width: 100%;
    margin: 0;
    font-size: 3.7vw;
    line-height: 40px;
    text-align: center;
  }
  body #fullpage #skills .skills-container .html .skills-img {
    margin: 30px auto 0;
  }
  body #fullpage #skills .skills-container .html .skills-img img {
    width: 150px;
    height: 150px;
  }
  body #fullpage #skills .skills-container .javascript {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #fullpage #skills .skills-container .javascript .skills-text {
    width: 100%;
    font-size: 3.7vw;
    line-height: 40px;
    text-align: center;
  }
  body #fullpage #skills .skills-container .javascript .skills-img {
    margin: 30px auto 0;
  }
  body #fullpage #skills .skills-container .javascript .skills-img img {
    width: 150px;
    height: 150px;
  }
  body #fullpage #portfolio1 {
    margin-top: 0;
  }
  body #fullpage #portfolio1 h1 {
    font-size: 8vw;
  }
  body #fullpage #portfolio1 .portfolio1-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body #fullpage #portfolio1 .portfolio1-container .myportfolio {
    margin: 0 auto;
  }
  body #fullpage #portfolio1 .portfolio1-container .myportfolio li {
    font-size: 14px;
  }
  body #fullpage #portfolio1 .portfolio1-container .myportfolio li:nth-child(5) {
    margin-bottom: 10px;
  }
  body #fullpage #portfolio1 .portfolio1-container .myportfolio .number {
    color: #e9e8e8;
    font-size: 100px;
    font-weight: 900;
  }
  body #fullpage #portfolio1 .portfolio1-container .myportfolio .website-type {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
  }
  body #fullpage #portfolio1 .portfolio1-container .myportfolio .work {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 32px;
  }
  body #fullpage #portfolio1 .portfolio1-container .myportfolio .btn a {
    display: block;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50px;
  }
  body #fullpage #portfolio1 .portfolio1-container .myportfolio .btn a:hover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: #fff;
    background-color: #000;
  }
  body #fullpage #portfolio1 .portfolio1-container .port_1_img li {
    margin: 30px 0 0 70px;
  }
  body #fullpage #portfolio1 .portfolio1-container .port_1_img li img {
    width: 300px;
  }
  body #fullpage #portfolio2 .portfolio2-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body #fullpage #portfolio2 .portfolio2-container .port_2_img li {
    margin: 30px 0 0 70px;
  }
  body #fullpage #portfolio2 .portfolio2-container .port_2_img li img {
    width: 300px;
  }
  body #fullpage #portfolio2 .portfolio2-container .hollys {
    margin: 100px auto 0;
  }
  body #fullpage #portfolio2 .portfolio2-container .hollys li {
    font-size: 14px;
  }
  body #fullpage #portfolio2 .portfolio2-container .hollys li:nth-child(5) {
    margin-bottom: 10px;
  }
  body #fullpage #portfolio2 .portfolio2-container .hollys .number {
    color: #e9e8e8;
    font-size: 100px;
    font-weight: 900;
  }
  body #fullpage #portfolio2 .portfolio2-container .hollys .website-type {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
  }
  body #fullpage #portfolio2 .portfolio2-container .hollys .website-type {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
  }
  body #fullpage #portfolio2 .portfolio2-container .hollys .work {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 32px;
  }
  body #fullpage #portfolio2 .portfolio2-container .hollys .btn a {
    display: block;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50px;
  }
  body #fullpage #portfolio2 .portfolio2-container .hollys .btn a:hover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: #fff;
    background-color: #000;
  }
  body #fullpage #portfolio3 {
    width: 100%;
  }
  body #fullpage #portfolio3 .portfolio3-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body #fullpage #portfolio3 .portfolio3-container .jomalone {
    margin: 100px auto 0;
  }
  body #fullpage #portfolio3 .portfolio3-container .jomalone li {
    font-size: 14px;
  }
  body #fullpage #portfolio3 .portfolio3-container .jomalone li:nth-child(5) {
    margin-bottom: 10px;
  }
  body #fullpage #portfolio3 .portfolio3-container .jomalone .number {
    color: #e9e8e8;
    font-size: 100px;
    font-weight: 900;
  }
  body #fullpage #portfolio3 .portfolio3-container .jomalone .website-type {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
  }
  body #fullpage #portfolio3 .portfolio3-container .jomalone .work {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 32px;
  }
  body #fullpage #portfolio3 .portfolio3-container .jomalone .btn a {
    display: block;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 50px;
  }
  body #fullpage #portfolio3 .portfolio3-container .jomalone .btn a:hover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: #fff;
    background-color: #000;
  }
  body #fullpage #portfolio3 .portfolio3-container .port_3_img li {
    margin: 30px 0 0 70px;
  }
  body #fullpage #portfolio3 .portfolio3-container .port_3_img li img {
    width: 300px;
  }
  body #fullpage #contact {
    width: 100%;
  }
  body #fullpage #contact footer {
    background-color: #000;
  }
  body #fullpage #contact footer h1 {
    margin-top: 100px;
    color: #fff;
    font-size: 50px;
  }
  body #fullpage #contact footer .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #fullpage #contact footer .info > ul li {
    color: #fff;
    font-size: 30px;
  }
  body #fullpage #contact footer .info .kakaotalk li {
    font-size: 16px;
    margin-right: 30px;
  }
  body #fullpage #contact footer .info .kakaotalk li img {
    width: 100px;
    height: 100px;
  }
}
/*# sourceMappingURL=style.css.map */