@charset "UTF-8";
header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    box-shadow: 1px 1px 5px #ccc;
    .logo {
      margin-left: 30px;
      h1 {
        img {
          width: 70px;
          height: 40px;
          margin-top: 10px;
        }
      }
    }
    .nav-links {
      display: flex;

      justify-content: space-around;
      width: 70%;
      li {
        a {
          display: block;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 3px;
        }
      }
    }
    .burger {
      display: none;
      div {
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #ccc;
      }
    }
  }
}
#fullpage {
  #home {
    .well {
      margin: 0 0 0 30px;
      padding-bottom: 150px;
      p {
        font-size: 8.3vw;
        font-weight: 700;
        &:nth-child(2) {
          margin-left: 20%;
        }
      }
      span {
        display: block;
        width: 68vw;
        height: 4vh;
        margin: -50px 0 0 250px;
        background-color: #ffd736;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  #about {
    width: 100%;

    h1 {
      font-size: 8vw;
    }
    .profiles {
      display: flex;
      justify-content: space-around;
      margin-top: 100px;
      .profile-img {
        li {
          img {
            width: 400px;
            height: 400px;
          }
        }
      }
      .profile-text {
        display: flex;
        margin-right: 80px;
        li {
          margin: 30px;
          font-size: 30px;
          .line {
            display: block;
            width: 1px;
            height: 350px;
            background-color: #000;
          }
          .tit {
            display: block;
            font-weight: 500;
          }
        }
      }
    }
  }
  #skills {
    width: 100%;
    margin: 30px auto;
    h1 {
      font-size: 8vw;
      margin-bottom: 50px;
    }
    .skills-container {
      width: 70%;
      margin: 0 18%;
      .design {
        display: flex;
        margin: 0 auto;
        .skills-text {
          width: 33%;
          margin: 20px 50px 0 0;
          font-size: 22px;
          line-height: 1.8;
          text-align: center;
        }
        .skills-img {
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
      .html {
        display: flex;
        margin: 30px 0 0 38%;

        .skills-text {
          margin: 20px 0 0 30px;
          font-size: 1.5vw;
          line-height: 40px;
          text-align: center;
        }
        .skills-img {
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
      .javascript {
        display: flex;
        margin: 30px 48% 0 0;
        .skills-text {
          margin: 20px 50px 0 0;
          font-size: 22px;
          line-height: 40px;
          text-align: center;
        }
        .skills-img {
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }
  #portfolio1 {
    margin-top: 40px;
    h1 {
      font-size: 8vw;
    }
    .portfolio1-container {
      display: flex;
      justify-content: space-around;

      .myportfolio {
        li {
          font-size: 18px;
          &:nth-child(5) {
            margin-bottom: 20px;
          }
        }
        .number {
          color: rgb(233, 232, 232);
          font-size: 150px;
          font-weight: 900;
        }
        .website-type {
          font-size: 45px;
          font-family: 'Poppins', sans-serif;
        }
        .work {
          margin-bottom: 20px;
          font-weight: 400;
          font-size: 34px;
        }
        .btn {
          a {
            display: block;
            width: 150px;
            height: 50px;
            margin-top: 30px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            line-height: 50px;
            text-align: center;
            border: 1px solid #000;
            border-radius: 50px;
            &:hover {
              transition: all 0.5s;
              color: #fff;
              background-color: #000;
            }
          }
        }
      }
      .port_1_img {
        li {
          margin-top: 70px;
          img {
            width: 600px;
          }
        }
      }
    }
  }
  #portfolio2 {
    .portfolio2-container {
      display: flex;
      justify-content: space-around;

      .port_2_img {
        li {
          margin-top: 50px;
          img {
            width: 600px;
          }
        }
      }
      .hollys {
        li {
          font-size: 18px;
          &:nth-child(5) {
            margin-bottom: 20px;
          }
        }
        .number {
          color: rgb(233, 232, 232);
          font-size: 150px;
          font-weight: 900;
        }
        .website-type {
          font-size: 45px;
          font-family: 'Poppins', sans-serif;
        }
        .work {
          margin-bottom: 20px;
          font-weight: 400;
          font-size: 34px;
        }
        .btn {
          a {
            display: block;
            width: 150px;
            height: 50px;
            margin-top: 30px;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            line-height: 50px;
            text-align: center;
            border: 1px solid #000;
            border-radius: 50px;
            &:hover {
              transition: all 0.5s;
              color: #fff;
              background-color: #000;
            }
          }
        }
      }
    }
  }

  #portfolio3 {
    .portfolio3-container {
      display: flex;
      justify-content: space-around;
      .jomalone {
        li {
          font-size: 18px;
          &:nth-child(5) {
            margin-bottom: 20px;
          }
        }
        > .number {
          color: rgb(233, 232, 232);
          font-size: 150px;
          font-weight: 900;
        }
        .website-type {
          font-size: 45px;
          font-family: 'Poppins', sans-serif;
        }
        .work {
          margin-bottom: 20px;
          font-weight: 400;
          font-size: 34px;
        }
        .btn {
          a {
            display: block;
            width: 150px;
            height: 50px;
            margin-top: 30px;
            font-weight: 700;
            line-height: 50px;
            text-align: center;
            border: 1px solid #000;
            border-radius: 50px;
            &:hover {
              transition: all 0.5s;
              color: #fff;
              background-color: #000;
            }
          }
        }
      }
      .port_3_img {
        li {
          margin-top: 100px;
          > img {
            width: 600px;
          }
        }
      }
    }
  }
  #contact {
    footer {
      background-color: #000;
      h1 {
        margin-top: 100px;
        color: #fff;
        font-size: 50px;
      }
      .info {
        display: flex;
        justify-content: space-between;

        > ul {
          li {
            color: #fff;
            font-size: 30px;
          }
        }
        .kakaotalk {
          li {
            font-size: 16px;
            margin-right: 30px;
            img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  header {
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      font-family: 'Poppins', sans-serif;
      background-color: #fff;
      > .logo {
        letter-spacing: 5px;
        font-size: 20px;
      }
      > .nav-links {
        display: flex;
        justify-content: space-around;
        width: 80%;
        > li {
          > a {
            font-weight: 600;
            letter-spacing: 3px;
          }
        }
      }
      .burger {
        display: none;
        cursor: pointer;
        div {
          width: 25px;
          height: 3px;
          margin: 5px;
          background-color: #ccc;
        }
      }
    }
  }
  #fullpage {
  }
  #home {
    .well {
      width: 100%;
      p {
        font-size: 80px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      font-family: 'Poppins', sans-serif;
      background-color: #fff;
      > .logo {
        letter-spacing: 5px;
        font-size: 20px;
      }
      > .nav-links {
        display: flex;
        justify-content: space-around;
        width: 90%;
        > li {
          > a {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 3px;
          }
        }
      }
      .burger {
        display: none;
        cursor: pointer;
        div {
          width: 25px;
          height: 3px;
          margin: 5px;
          background-color: #ccc;
        }
      }
    }
  }
  #fullpage {
    #home {
      .well {
        margin: 100px 0;
        p {
          font-size: 80px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  header {
    nav {
      .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        height: 92vh;
        top: 100%;
        width: 80%;
        align-items: center;
        background-color: #000;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        > li {
          //opacity: 0;
          > a {
            color: #fff;
            font-size: 30px;
          }
        }
      }
      .burger {
        display: block;
        //   .toggle .line1 {
        //     transform: rotate(-45deg) (translate(-5px, 6px));
        //   }
        //   .toggle.line2 {
        //     opacity: 0;
        //   }
        //   .toggle.line3 {
        //     transform: rotate(45deg) (translate(-5px, -6px));
        //   }
      }
      .nav-links.active {
        transform: translateX(0%);
      }
    }
    #fullpage {
      #home {
        .well {
          margin: 0 0 0 30px;
          padding-bottom: 150px;
          p {
            font-size: 9vw;
            font-weight: 700;

            &:nth-child(2) {
              margin-left: 20%;
            }
          }
          span {
            display: none;
            width: 68vw;
            height: 4vh;
            margin: -50px 0 0 120px;
            background-color: #ffd736;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      #about {
        width: 100%;

        h1 {
          font-size: 8vw;
        }
        .profiles {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin-top: 100px;
          .profile-img {
            li {
              img {
                width: 400px;
                height: 400px;
              }
            }
          }
          .profile-text {
            display: flex;
            margin-right: 80px;
            li {
              margin: 30px;
              font-size: 30px;
              .line {
                display: block;
                width: 1px;
                height: 350px;
                background-color: #000;
              }
              .tit {
                display: block;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
